#tableau {
    border: 1px black solid;
    display: flex;
    align-items: center;
    width: 80%;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.results {
    width: 50%;
}

h1 {
    width: 100%;
    text-align: center;
}

p {
    width: 50%;
    padding: 1rem;
    text-align: center;
}

.inputrange {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}

label {
    padding-left: 2rem;
    padding-right: 0.1rem;
}

input[type="range"] {
    appearance: none;
    background: transparent;
    width: 15rem;
    border: 1px solid black;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, white 0%, aqua 100%);
    height: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: aqua;
    border: 1px solid black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

input[type="range"]:focus {
    outline: none;
}

.color {
    display: flex;
    gap: 5rem;
    border: 1px solid black;
    width: 100%;
}

.paddings {
    display: flex;
    gap: 5rem;
    border: 1px solid black;
    width: 100%;
}

.heights {
    display: flex;
    gap: 5rem;
    border: 1px solid black;
    width: 100%;
}

.widths {
    display: flex;
    gap: 5rem;
    border: 1px solid black;
    width: 100%;
}

.cornered {
    display: flex;
    gap: 5rem;
    border: 1px solid black;
    width: 100%;
}

.rotation {
    display: flex;
    gap: 5rem;
    border: 1px solid black;
    width: 100%;
}